body{
    background-color:#424f66;
}

.centraliza{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

h1{
    color:#d3d8e2;
}

.txt-azul{
    color:#1e3356;
    font-size: 18px;
    font-weight: bold;
}

.dir{
    float: right;
    margin:15px;
}

.clear{
    clear: both;
}